Default Profiles/1-90 Questing Evermoon Profile Pack/Schemas/RelaxNG/HBCustomBehaviors-Hooks.rnc

# =====
# Original contribution by chinajade
#   $Rev: 3160 $
#   $Date: 2014-03-19 04:57:53 -0300 (qua, 19 mar 2014) $
#
# WARNING: DO NOT EDIT .xsd files.
#   They are not authoritative and will be overwritten!
#   Instead, regenerate the .xsd files from the .rnc 'sources'.
#   Its a one-line command to do this. Please see README.txt
#   for more information.
# =====


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\BarrelHook" }
  }


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\BlackrockMaskHook" },

    attribute state { HBType-Boolean }?
  }


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\MountHook" },

    attribute state { HBType-Boolean }
  }


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Hooks\TheEndlessFlowHook" }
  }
