Default Profiles/1-90 Questing Profile Pack/Schemas/RelaxNG/HBCustomBehaviors-Vehicles.rnc

# =====
# Original contribution by chinajade
#   $Rev: 3200 $
#   $Date: 2014-04-23 04:03:25 -0300 (qua, 23 abr 2014) $
#
# WARNING: DO NOT EDIT .xsd files.
#   They are not authoritative and will be overwritten!
#   Instead, regenerate the .xsd files from the .rnc 'sources'.
#   Its a one-line command to do this. Please see README.txt
#   for more information.
# =====


# BEGIN: BasicVehicleBehaviour
Attributes-BasicVehicleBehaviour-MountXYZ =
  attribute MountX { xsd:decimal },
  attribute MountY { xsd:decimal },
  attribute MountZ { xsd:decimal }

CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Vehicles\BasicVehicleBehaviour" },
  
    Attributes-BasicVehicleBehaviour-MountXYZ,
    Attributes-QuestSpecifier,
    Attributes-XYZ,
    attribute SpellId { HBType-Id }?,
    attribute VehicleId { HBType-Id }
  }
# END: BasicVehicleBehaviour


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Vehicles\CannonControl" },

    Attributes-QuestSpecifier,
    attribute Buttons { QBType-HotbarButtons },
    attribute ExitButton { QBType-HotbarButton },
    attribute MaxAngle { QBType-Angle },
    attribute MinAngle { QBType-Angle },
    attribute VehicleId { HBType-Id }
  }


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Vehicles\FlyingVehicle" },

    Attributes-QuestSpecifier,
    attribute Buttons { QBType-HotbarButtons }?,
    attribute DropPassengerButton { QBType-HotbarButton }?,
    attribute EndPath { QBType-WoWPoints },
    attribute HealButton { QBType-HotbarButton }?,
    attribute HealPercent { HBType-Percent }?,
    attribute ItemId { HBType-Id }?,
    attribute NpcList { QBType-IdsList },
    attribute NpcScanRange { HBType-Distance }?,
    attribute Path { QBType-WoWPoints },
    attribute PickUpPassengerButton { QBType-HotbarButton }?,
    attribute Precision { HBType-Distance }?,
    attribute SpeedButton { QBType-HotbarButton }?,
    attribute StartPath { QBType-WoWPoints },
    attribute VehicleId { HBType-Id }
  }



CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Vehicles\MountVehOnly" },

    Attributes-QuestSpecifier,
    Attributes-XYZ?,
    attribute VehicleMountId { HBType-Id }
  }


# BEGIN: NoControlVehicle
Attributes-NoControlVehicle-TargetIdN-Mandatory1 =
  attribute TargetId { HBType-Id },
  attribute TargetId2 { HBType-Id }?,
  attribute TargetId3 { HBType-Id }?,
  attribute TargetId4 { HBType-Id }?,
  attribute TargetId5 { HBType-Id }?,
  attribute TargetId6 { HBType-Id }?,
  attribute TargetId7 { HBType-Id }?,
  attribute TargetId8 { HBType-Id }?,
  attribute TargetId9 { HBType-Id }?

Attributes-NoControlVehicle-TargetIdSecondaryN =
  attribute TargetIdSecondary { HBType-Id }?,
  attribute TargetIdSecondary2 { HBType-Id }?,
  attribute TargetIdSecondary3 { HBType-Id }?,
  attribute TargetIdSecondary4 { HBType-Id }?,
  attribute TargetIdSecondary5 { HBType-Id }?,
  attribute TargetIdSecondary6 { HBType-Id }?,
  attribute TargetIdSecondary7 { HBType-Id }?,
  attribute TargetIdSecondary8 { HBType-Id }?,
  attribute TargetIdSecondary9 { HBType-Id }?

CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Vehicles\NoControlVehicle" },

    Attributes-NoControlVehicle-TargetIdN-Mandatory1,
    Attributes-NoControlVehicle-TargetIdSecondaryN,
    attribute AttackButton { QBType-HotbarButton },
    attribute AttackButtonSecondary { QBType-HotbarButton }?,
    attribute GoHomeButton { QBType-HotbarButton }?,
    attribute MaxRange { HBType-Distance }?,
    attribute NumOfTimes { QBCoreType-NumOfTimes }?,
    attribute OftenToUse { HBType-TimeDuration }?,
    attribute QuestId { HBType-Id }?,
    attribute TypeId { HBType-Id }?,
    attribute VehicleId { HBType-Id }?,
    attribute VehicleMountId { HBType-Id }?,
    attribute WaitTime { HBType-TimeDuration }?
  }
# END: NoControlVehicle


# BEGIN: VehicleBehavior
Attributes-VehicleBehavior-EndPointXYZ =
  attribute EndPointX { xsd:decimal },
  attribute EndPointY { xsd:decimal },
  attribute EndPointZ { xsd:decimal }

Attributes-VehicleBehavior-FireLocationXYZ =
  attribute FireLocationX { xsd:decimal },
  attribute FireLocationY { xsd:decimal },
  attribute FireLocationZ { xsd:decimal }

Attributes-VehicleBehavior-PreviousFireLocationXYZ =
  attribute PreviousFireLocationX { xsd:decimal },
  attribute PreviousFireLocationY { xsd:decimal },
  attribute PreviousFireLocationZ { xsd:decimal }

Attributes-VehicleBehavior-StartObjectivePointXYZ =
  attribute StartObjectivePointX { xsd:decimal },
  attribute StartObjectivePointY { xsd:decimal },
  attribute StartObjectivePointZ { xsd:decimal }

Attributes-VehicleBehavior-StartPointXYZ =
  attribute StartPointX { xsd:decimal },
  attribute StartPointY { xsd:decimal },
  attribute StartPointZ { xsd:decimal }

Attributes-VehicleBehavior-TargetLocationXYZ =
  attribute TargetLocationX { xsd:decimal },
  attribute TargetLocationY { xsd:decimal },
  attribute TargetLocationZ { xsd:decimal }

CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Vehicles\VehicleBehavior" },

    Attributes-MobIdN,
    Attributes-QuestSpecifier,
    Attributes-VehicleBehavior-EndPointXYZ?,
    Attributes-VehicleBehavior-FireLocationXYZ?,
    Attributes-VehicleBehavior-PreviousFireLocationXYZ?,
    Attributes-VehicleBehavior-StartObjectivePointXYZ?,
    Attributes-VehicleBehavior-StartPointXYZ?,
    Attributes-VehicleBehavior-TargetLocationXYZ?,
    attribute AttackButton { QBType-HotbarButton },
    attribute FireHeight { xsd:integer { minInclusive="1" maxExclusive="1000" } }?,
    attribute FireUntilFinished { HBType-Boolean }?,
    attribute VehicleId { HBType-Id },
    attribute VehicleMountId { HBType-Id },
    attribute VehicleType { xsd:integer { minInclusive="0" maxInclusive="4" } }?,

    element Start { Attributes-XYZ }?,
    element Path { Attributes-XYZ}*
  }
# END: VehicleBehavior


CustomBehavior |=
  element CustomBehavior
  {
    attribute File { "Vehicles\VehicleMover" },

    Attributes-MobIdN,
    QuestBehaviorBase,
    Attributes-VehicleIdN-Mandatory1,
    Attributes-XYZ,
    attribute AuraId_ProxyVehicle { HBType-Id }?,
    attribute CastNum { HBType-Count }?,
    attribute CastTime { HBType-TimeDuration }?,
    attribute Hop { HBType-Boolean }?,
    attribute IgnoreCombat { HBType-Boolean }?,
    attribute Precision { HBType-Distance }?,
    attribute SpellId { HBType-Id }?,
    attribute WaitForVehicle { HBType-Boolean }?
  }


